version: 2.1
orbs:
  coveralls: ergeon/coveralls-orb@dev:<<pipeline.git.revision>>
  orb-tools: circleci/orb-tools@11.1

filters: &filters
  tags:
    only: /.*/

jobs:
    # Create a job to test the commands of your orbs.
    # You may want to add additional validation steps to ensure the commands are working as expected.
    python-test:
      docker:
        - image: cimg/python:3.8.9
      steps:
        - checkout
        - run: python --version
        - run: pip --version
        - coveralls/upload
    node-test:
      docker:
        - image: cimg/node:14.16.0
      steps:
        - checkout
        - run: npm --version
        - run: node --version
        - coveralls/upload
workflows:
  test-deploy:
    jobs:
      # Make sure to include "filters: *filters" in every test job you want to run as part of your deployment.
      - python-test:
          filters: *filters
      - node-test:
          filters: *filters
      - orb-tools/pack:
          filters: *filters
      - orb-tools/publish:
          orb-name: ergeon/coveralls-orb
          vcs-type: << pipeline.project.type >>
          pub-type: production
          requires:
            - orb-tools/pack
          context:
            - orb-publishing
            - github-secrets
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v[0-9]+\.[0-9]+\.[0-9]+$/
